@import "tailwindcss";

/* Tema claro */
:root {
    --color-text: #111618;
    --color-textl: #FFFFFF;

    --color-secClaro: #F0F4F8;
    --color-cardClara: #FFFFFF;

    --color-secAzul: #2A648B;
    --color-cardAzul: #3A7CA5;

    --color-secOscura: #1A2226;
    --color-cardOscura: #2d3940;

    --color-primary: #6FCF97;
    --color-accent: #A6C1EE;
    /* Ordenes entregadas. */
    --color-proceso: #f7e49b;
    /* Ordeners nuevas o recibidas.  */
    --color-recibidos: #CB2957;
}

/* Fondo oscuro */
html.dark {
    --color-text: #f0efe6d5;
    --color-textl: #f0efe6c5;

    --color-secClaro: #1A2226;
    --color-cardClara: #242D32;

    --color-secAzul: #132E42;
    --color-cardAzul: #1D435F;

    --color-secOscura: #0D1113;
    --color-cardOscura: #161D20;
    /* Estos colores tambien serviran para el status de las ordenes. */
    /* Sirve tambien como orden entregado */
    --color-primary: #10D970;
    /* Sirve para pedidos listos*/
    --color-accent: #7A9FC2;
    /* Ordenes en proceso. */
    --color-proceso: #f7e49b;
    /* Ordenes nuevas o recibidas. */
    --color-recibidos: #CB2957;
}

@layer components {
    .cards {
        @apply shadow-xl/50 rounded-md flex flex-col p-4 h-[320px];
    }

    .animacion {
        @apply transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-90 hover:bg-accent;
    }

    .inter-cards {
        @apply w-full flex flex-col p-0 mt-auto text-left gap-4;
    }

    .card-title {
        @apply font-extrabold text-2xl;
    }

    .card-subtitle {
        @apply text-xl w-full tracking-widest;
    }

    .cont-svg {
        @apply h-[80px];
    }

    .img {
        @apply object-cover w-full h-full;
    }

    .ocultar {
        @apply hidden;
    }

    .svg-btn {
        @apply size-10;
    }

    /* Login style */
    .formulario {
        @apply bg-white/10 transition-all duration-1700 backdrop-blur-md text-(--color-textl) rounded-2xl w-full max-w-md flex flex-col p-8 text-base border border-white/20 shadow-2xl;
    }

    /* Ocultar un formulario */
    .ocultar {
        @apply p-0 m-0 transition-all duration-100 ease-in-out opacity-0 max-h-0 overflow-hidden pointer-events-none;
    }

    /* Clase auxiliar para ocultar vistas suavemente */
    .fade-in {
        animation: fadeIn 0.3s ease-in-out;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Fuente de estrella. */
@font-face {
    font-family: 'Estrella';
    src: url('./assets/fonts/estrella-early.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Fuente Quarion */
@font-face {
    font-family: 'quarion';
    src: url('./assets/fonts/Rene\ Bieder\ -\ Quarion\ Book\ DEMO.otf') format('opentype');
    font-display: swap;
}

@theme {
    /* Fuentes */
    --font-estrella: 'Estrella';
    --font-quarion: 'quarion';


    /* Plantilla de colores.  */
    --color-fondo: var(--color-fondo);
    --color-text: var(--color-text);
    --color-textl: var(--color-textl);
    --color-secClaro: var(--color-secClaro);
    --color-cardClara: var(--color-cardClara);
    --color-secAzul: var(--color-secAzul);
    --color-cardAzul: var(--color-cardAzul);
    --color-secOscura: var(--color-secOscura);
    --color-cardOscura: var(--color-cardOscura);
    --color-primary: var(--color-primary);
    --color-secondary: var(--color-secondary);
    --color-accent: var(--color-accent);

}